body {
    margin: 0 10%;
}

header {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-principal {
    color: white;
    width: 150px;
    height: 150px;
    background-color: black;
}


.imoveis {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titulo-imoveis {
    font-size: 28px;
}

.slides-imoveis {
    display: flex;
    margin-top: 5%;
}

.img-imovel {
    width: 250px;
    height: 250px;
    background-color: black;
}

.about-tittle {
    margin: 7% 0;
    font-size: 28px;
}

footer a {
    display: flex;
    justify-content: center;
    margin: 7% 0;
}

footer p {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}